<ion-content [fullscreen]="true">

  <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; margin-top: 50px; color:rgb(162, 228, 95);">W E L L T R A C K</h1>
  <p style="font-family:monospace; text-align: center; margin-bottom: 100px; color:rgb(143, 143, 143);">Rutina consciente</p>

  <h3 style="text-align: center; margin-bottom: 15px;">¡Regístrate!</h3>

  <div style="max-width: 400px; margin: 0 auto;">
    <form [formGroup]="registerForm" (ngSubmit)="registrar()">

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="usuario" />
        <mat-error
          *ngIf="registerForm.get('usuario')?.invalid && (registerForm.get('usuario')?.touched || registerForm.get('usuario')?.dirty)">
          <ng-container *ngIf="registerForm.get('usuario')?.hasError('required')">
            El usuario es obligatorio
          </ng-container>
          <ng-container *ngIf="registerForm.get('usuario')?.hasError('minlength')">
            Debe tener al menos 3 caracteres
          </ng-container>
          <ng-container *ngIf="registerForm.get('usuario')?.hasError('maxlength')">
            Debe tener máximo 8 caracteres
          </ng-container>
          <ng-container *ngIf="registerForm.get('usuario')?.hasError('pattern')">
            Solo se permiten letras y números (sin espacios)
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error
          *ngIf="registerForm.get('nombre')?.invalid && (registerForm.get('nombre')?.touched || registerForm.get('nombre')?.dirty)">
          <ng-container *ngIf="registerForm.get('nombre')?.hasError('required')">
            El nombre es obligatorio
          </ng-container>
          <ng-container *ngIf="registerForm.get('nombre')?.hasError('pattern')">
            Solo se permiten letras y espacios
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Apellido Paterno</mat-label>
        <input matInput formControlName="apellidoPaterno" />
        <mat-error
          *ngIf="registerForm.get('apellidoPaterno')?.invalid && (registerForm.get('apellidoPaterno')?.touched || registerForm.get('apellidoPaterno')?.dirty)">
          <ng-container *ngIf="registerForm.get('apellidoPaterno')?.hasError('required')">
            El apellido paterno es obligatorio
          </ng-container>
          <ng-container *ngIf="registerForm.get('apellidoPaterno')?.hasError('pattern')">
            Solo se permiten letras y espacios
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Apellido Materno</mat-label>
        <input matInput formControlName="apellidoMaterno" />
        <mat-error
          *ngIf="registerForm.get('apellidoMaterno')?.invalid && (registerForm.get('apellidoMaterno')?.touched || registerForm.get('apellidoMaterno')?.dirty)">
          <ng-container *ngIf="registerForm.get('apellidoMaterno')?.hasError('required')">
            El apellido materno es obligatorio
          </ng-container>
          <ng-container *ngIf="registerForm.get('apellidoMaterno')?.hasError('pattern')">
            Solo se permiten letras y espacios
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error
          *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
          <ng-container *ngIf="registerForm.get('email')?.hasError('required')">
            El email es obligatorio
          </ng-container>
          <ng-container *ngIf="registerForm.get('email')?.hasError('email')">
            Debe ser un email válido
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error
          *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
          <ng-container *ngIf="registerForm.get('password')?.hasError('required')">
            La contraseña es obligatoria
          </ng-container>
          <ng-container *ngIf="registerForm.get('password')?.hasError('pattern')">
            Debe tener exactamente 4 dígitos numéricos
          </ng-container>
        </mat-error>
      </mat-form-field>


      <ion-button expand="block" style="flex: 1; margin-bottom: 10px;" type="submit"
        [disabled]="cargando || registerForm.invalid">
        <ng-container *ngIf="cargando; else textoBoton">
          <ion-spinner name="dots"></ion-spinner>
        </ng-container>
        <ng-template #textoBoton>
          Crear cuenta
        </ng-template>
      </ion-button>

      <ion-text style="display: block; text-align: center; margin-bottom: 80px;">
        <ion-button fill="clear" (click)="goToLogin()">Iniciar sesión</ion-button>
      </ion-text>

    </form>
  </div>
</ion-content>