<ion-content [fullscreen]="true"> 
  
  <div style="padding-top: calc(env(safe-area-inset-top) + 50px);">
    <h1
      style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; color: rgb(162, 228, 95);">
      W E L L T R A C K
    </h1>
    <p style="font-family: monospace; text-align: center; margin-bottom: 100px; color: rgb(143, 143, 143);">
      Rutina consciente
    </p>
  </div>


  <h3 style="text-align: center; margin-bottom: 15px;">¡Regístrate!</h3>

  <div style="max-width: 400px; margin: 0 auto;">
    <form [formGroup]="registerForm" (ngSubmit)="registrar()">

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" />
        <mat-error
          *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)">
          <ng-container *ngIf="registerForm.get('username')?.hasError('required')">
            El usuario es obligatorio
          </ng-container>
          <ng-container *ngIf="registerForm.get('username')?.hasError('minlength')">
            Debe tener al menos 3 caracteres
          </ng-container>
          <ng-container *ngIf="registerForm.get('username')?.hasError('maxlength')">
            Debe tener máximo 8 caracteres
          </ng-container>
          <ng-container *ngIf="registerForm.get('username')?.hasError('pattern')">
            Solo se permiten letras y números (sin espacios)
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error
          *ngIf="registerForm.get('nombre')?.invalid && (registerForm.get('nombre')?.touched || registerForm.get('nombre')?.dirty)">
          <ng-container *ngIf="registerForm.get('nombre')?.hasError('required')">
            El nombre es obligatorio
          </ng-container>
          <ng-container *ngIf="registerForm.get('nombre')?.hasError('pattern')">
            Solo se permiten letras y espacios
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Apellido </mat-label>
        <input matInput formControlName="apellido" />
        <mat-error
          *ngIf="registerForm.get('apellido')?.invalid && (registerForm.get('apellido')?.touched || registerForm.get('apellido')?.dirty)">
          <ng-container *ngIf="registerForm.get('apellido')?.hasError('required')">
            El apellido es obligatorio
          </ng-container>
          <ng-container *ngIf="registerForm.get('apellido')?.hasError('pattern')">
            Solo se permiten letras y espacios
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error
          *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
          <ng-container *ngIf="registerForm.get('email')?.hasError('required')">
            El email es obligatorio
          </ng-container>
          <ng-container *ngIf="registerForm.get('email')?.hasError('email')">
            Debe ser un email válido
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error
          *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
          <ng-container *ngIf="registerForm.get('password')?.hasError('required')">
            La contraseña es obligatoria
          </ng-container>
          <ng-container *ngIf="registerForm.get('password')?.hasError('pattern')">
            Debe tener exactamente 4 dígitos numéricos
          </ng-container>
        </mat-error>
      </mat-form-field>


      <ion-button expand="block" style="flex: 1; margin-bottom: 10px;" type="submit"
        [disabled]="cargando || registerForm.invalid">
        <ng-container *ngIf="cargando; else textoBoton">
          <ion-spinner name="dots"></ion-spinner>
        </ng-container>
        <ng-template #textoBoton>
          Crear cuenta
        </ng-template>
      </ion-button>
    </form>

    <ion-text style="display: block; text-align: center; margin-bottom: 80px;">
      <ion-button fill="clear" (click)="goToLogin()">Iniciar sesión</ion-button>
    </ion-text>

  </div>
</ion-content>